
/* IPHONE 5/SE */
@media only screen and (max-width: 330px){
    
    #mainhead .main-content .row .main-text{
           font-family: 'Pacifico', cursive;
           font-size: 5rem;
   }

   #contactpage .contacts .container h2{
        font-size: 3rem;
    }

}

/* Other */

@media only screen and (max-width: 1200px){
    #phone, #email, #address, #twitter, #instagram {
        margin-top: 1.25rem;  
        font-size: 1.1rem;
    } 
  }


@media only screen and (max-width: 1000px){
    .navbarcircle{
        margin-bottom: -6.5rem;
     }
  
     #nav-2{
        width: 100%;
        z-index: 100000000;
        margin: 0rem !important;
        justify-content: flex-end;
     }
  
     #nav-2 .navbar-toggler{
        justify-content: flex-end;
        margin-bottom: 0.75rem;
     }
    
     #nav-2 a{
        width: 100%;
        margin: 0rem !important;
     }
  
     #nav-1{
        order: 1;
     }
     #nav-2{
        order: 0;
     }
    
    #about .about-content h2 {
        justify-content: center;
    }

    .about-desc p{
        padding-right: 0;
        padding-left: 3rem;
        text-align: justify;
        font-size: 0.95rem;
    }

    #recipe .container h2 {
        justify-content: center;
    }

    #sponsors .items img{
        width: 120%;
    }
    
    #sponsors .items #lg1 {
        width: 140%;
    }
    
    #sponsors .items #lg4 {
        width: 160%;
    } 

    #contactpage .contacts .container .row .col-md-6{
        padding: 0;
    }
    
    #contactpage .contacts .container .row .col-md-6 .contactinfo{
        padding-left: 0rem;
        padding-bottom: 3rem;
    }

    #contactpage .contacts .container .content{
        margin: 2.5rem 0rem;
    }

    #phone, #email, #address, #twitter, #instagram {
        margin-top: 1.25rem;  
        font-size: 0.95rem;
        justify-content: center;
        text-align: center;
    } 

    .fas, .fab { 
        color: #565656;
        font-size: 1rem;
    }
  }

@media only screen and (max-width: 900px){
    #sponsors .items img{
        width: 150%;
    }
    
    #sponsors .items #lg1 {
        width: 170%;
    }
    
    #sponsors .items #lg4 {
        width: 190%;
    }
}

@media only screen and (max-width: 769px){
    #sponsors .row{
        justify-content: center;
    }
    
    #sponsors .col-md-3{
        padding: 0rem;
        margin: 1rem;
        margin-left: 2rem !important;
        width: 110%;
    }

    #lg1, #lg2, #lg3, #lg4 {
        margin-left: 0rem !important;
        width: 100% !important;
    }
   
}


@media only screen and (max-width: 768px){
    #mainhead{
        background: url('../img/mob3.png') no-repeat center center/cover;
    }


    .about-desc p{
        margin-bottom: 3rem;
        padding: 0rem 1rem;
    }

    #recipe .container .flip-card{
        margin: 0.5rem 0;
        padding: 0.5rem 0;
    }

    #recipe .container .recipes{
        justify-content: center;
    }
 
    #sponsors .row{
        margin-right: 0;
    }

    #sponsors .col-md-3{
        margin: 1.5rem;
        width: 30%;
    }

    #sponsors .items img{
        width: 80% !important;
        margin: 0rem 6rem;
    }
    
    #sponsors .items #lg1 {
        width: 100% !important;
    }
    
    #sponsors .items #lg4 {
        width: 100% !important;
    }

    #lg2, #lg3{
        margin: 0rem 10rem;
    }
    
    #contactpage .map{
        height: 150% !important;
        width: 100% !important;
    }

    #contactpage .contacts .container .content .order-md-0{
        padding: 1.5rem;
        justify-content: center !important;
    }   
}

@media only screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 768px){ 
    #mainhead .main-content{
        height: inherit;
    }
    
}


@media only screen and (max-width: 610px){
   
    #about .about-content h2{
        justify-content: center;
        text-align: center;
        font-size: 3rem;
    }

    #recipe .container h2 {
        font-size: 3rem;
    }

    #sponsors .items img{
        margin: 0rem 6rem;
        width: 70%;
    }

    #sponsors .items #lg1 {
        width: 90%;
    }
    
    #sponsors .items #lg4 {
        width: 90%;
    }

  
}

@media only screen and (max-width: 500px){

   
    
    #sponsors .items img{
        margin: 0rem 1rem;
        width: 150% !important;
   }

   #sponsors .col-md-3{
       margin: 2rem 3.5rem 2rem 1.5rem !important;
   }

   #sponsors .items #lg4 {
    width: 170% !important;
    }

    #sponsors .items #lg1 {
        width: 170% !important;
    }
}

@media only screen and (max-width: 380px){

    .flip-card {
        width: 16rem;
        height: 15rem;
    }

    .flip-card-inner {
        width: 16rem;
        height: 15rem;
    }

    #recipe .flip-card img{
        width: 14rem !important;
        height: 7rem !important;
    }

}
