@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
}

h1, h2, h4{
    color: black;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem, 0;
}



.text-dark {
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    padding-top: 0px;
    
}

.text-primary2 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:#F2A12C
}
.text-primary3 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:#2AA041
}



/* NAVBAR */
.navbar-toggler:hover{
    border-color:#2AA041;
}

.navbar-nav {
    text-align: right;
    color: #4a4a4a;
}

.navbar-nav .nav-link:hover {
    color: #2AA041;
}



/* Main Recipe Page */

.container h1 {
    padding-top: 2rem;
}

#mbbc {
    margin-top: 3rem;
    height: 28rem;
    width: 28rem;

}

.recinfo{
    text-align: center;
}

.recnum{
    font-size: 2rem;
    margin-bottom: 0;
    color: grey;
}

.recnuminfo .recnum {
    color: #565656;
}

.row {
    margin-top: 3rem;
}



/* ingredients and directions */

.dir-list{
    list-style-type: none;
    padding: 1.5rem;
}

.ing-list li{
    line-height: 2rem;
}

.dir-list li {
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

.btn-nutri, .btn-demo{
    border-radius: 2rem;
    padding: 0.5rem 1.25rem;
    margin: 2rem 2rem;
    color: white;
}

.btn-demo{
    background: #F25E2E;
}

.btn-nutri{
    background: #90a88e;
}

.btn-demo:hover, .btn-nutri:hover {
    color: white;
}

.btn-demo:hover{
    background:#f03b00;
}

.btn-nutri:hover{
    background: #839982;
}

.row {
    padding-top: 2rem;
}


.nutr-info{
    border: 2px solid lightgrey;
    height: 8rem;
    width: 8rem;
    text-align: center;
    padding-top: 3rem; 
    margin: 0 2rem;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
}

.nutr-info:hover{
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
}

#nutrition .nutri-circles{
    justify-content: center;
    /* align-items: center;
    text-align: center; */
}


#nutrition .row .nutr-info p {
    line-height: 0.5rem;
}

.custom-checkbox{
    margin: 0.5rem;
}

.ingredients h4{
    margin-bottom: 2rem;
}


.custom-control-input:checked~.custom-control-label::before, .custom-checkbox .custom-control-label::before { 
    border-radius: 1rem;
}


.custom-control-input:checked~.custom-control-label::before{

background: #90a88e;
border-color: #90a88e;
}

.custom-control-label{
    padding-left: 0.5rem;
}

#nutrition{
    text-align: center;
}

.rec-teaser{
    opacity: 0.75;
    object-fit: cover;
    top: -150px;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    background-color: rgb(0,0, 0,0.7);
    border-bottom: 100rem solid #f03b00;
}



.navbar{
    opacity: 1;
    background: white;
}

.container{
    margin-top: 200px;
    background: white;
    border-radius: 10px;
    z-index: 30;
}



.row .ingredients, .row .directions{
    background-color: #F9F9F9;
}

.direc-title{
    color: black;
    font-weight: bold;
}


.row .col-md-12 {
    text-align: center;
}

.row .col-md-12 .buttons {
    align-items: center;
    justify-content: center;
}

.ing-dir{
    margin-top: 3rem;
}



