@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');

/* Utility Classes */
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
    padding:0;
    margin:0;
    text-align: justify;
}

h1, h2, h4{
    color: black;
    font-family: "Pacifico", cursive;
    padding-top: 2rem;
}

h1{
    font-size: 3rem;
    color: #F2A12C;
    text-align: center;
}

#ing-title{
    font-family: "Pacifico", cursive;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem, 0;
}

.text-dark {
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    padding-top: 0px;
}

.text-primary2 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:#F2A12C
}

.text-primary3 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:#2AA041
}

.s3{
    padding: 5rem 3rem;
    background: #1B2C36;
}

.container{
    background: white;
    border-radius: 10px;
    z-index: 30;
}


/* NAVBAR */
nav{
    z-index: 1000;
}

.navbar-toggler:hover{
    border-color:#2AA041;
}

.navbar-nav {
    text-align: right;
    color: #4a4a4a;
}

.navbar-nav .nav-link:hover {
    color: #2AA041;
}

.navbar{
    position: sticky;
    opacity: 1;
    background: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
}

.navbarcircle{
    margin-top: 50px;
    height: 120px;
    width: 120px;
    border: 1px solid white;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    
}

.nav-link{
    color: grey;
    background: white;
}

.navbar .fab {
    color: #565656;
    padding-left: 1.5rem;
    font-size: 1.6rem;
}

.navbar .fab:hover{
    color: #f03b00;
}

    



/* Main Recipe Page */

.s3 .main{
    margin-top: 100px;
}

.s3 .main{
    padding: 3rem;
}

.recipeinfo, .recinfo, .row{
    justify-content: center;
}

.rec-teaser{
    opacity: 0.75;
    margin-top: 2rem;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.recnum{
    font-size: 2rem;
    margin-bottom: 0;
    color: grey;
}

.recnuminfo .recnum {
    color: #565656;
}

.s3 .main .row .row .col-lg-6 p{
    text-align: justify;
    padding: 0.5rem 2rem;
}

.s3 .main .col-md-12{
    margin-top: 3rem;
}

.btn-nutri, .btn-demo{
    border-radius: 2rem;
    padding: 0.5rem 1.25rem;
    margin: 2rem 2rem;
    color: white;
}

.btn-demo{
    background: #F25E2E;
}

.btn-nutri{
    background: #90a88e;
}

.btn-demo:hover, .btn-nutri:hover {
    color: white;
}

.btn-demo:hover{
    background:#f03b00;
}

.btn-nutri:hover{
    background: #839982;
}

.btn-nutri:focus {
    box-shadow: 0 0 0 0.2rem rgba(131,153,130,.5);
}

.btn-demo:focus {
    box-shadow: 0 0 0 0.2rem rgba(240,59,0,.5);
}

#time{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}














/* Ingredients and Directions */
@media print{
    body * {
        visibility: hidden;
    }

    #to-print, #to-print * {
        visibility: visible;
     }

    #to-print  {
        position: absolute;
        top: 15rem;
        left: 2.5rem;
        right: 2.5rem;
        page-break-before: always;
    }

    .s3 .container .row .col-lg-12 .col-lg-6 h1{
        visibility: visible;
        position: absolute;
        top: -40rem;
        left: 10rem;
        color: #333333;
    }

    .s3 .container .row .col-lg-12 .col-lg-6 {
        margin-left: 2rem;
    }

    
    html, body {
        height:100vh; 
        overflow: hidden;
      }
 
}








.dir-list{
    list-style-type: none;
    border-left: 1px solid lightgray;
    margin-left: -2.5rem;
    padding-left: 2rem;
    margin: 2rem 0rem;
}

.dir-list li {
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

.row .ingredients, .row .directions{
    background-color: #F9F9F9;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.s3 #recipe .print{
    padding: 0;
    margin: 0.5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
    /* height: 75%; */
}

.s3 #recipe .print .btn{
    margin: 1rem;
    padding: 0.5rem 2rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
}




.row .ingredients{
    border-right-style: none;
}

.direc-title{
    color: black;
    font-weight: bold;
}

.row .col-md-12 {
    text-align: center;
}

.row .col-md-12 .buttons {
    align-items: center;
    justify-content: center;
}

/* .ing-dir{
    margin-top: 3rem;
} */

.ing-dir .row .col-md-12{
    text-align: left;
}

.fas, .far{
    color:grey;
    font-size: 3rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.far .fa-clock{
    padding-right: 5rem;
}

#header-ing {
    color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

#servings, #servings-num{   
    font-size: 1.1rem;
}

#servings{
    color: #4a4a4a;
    padding-top: 0.25rem;
}

#servings-num{
    color: #f03b00;
}

.ing-dir {
    padding: 2.5rem;
}




/* Nutritional Info */



.s3 .container #nutrition h2{
    padding-left: 2rem;
    margin:0;
    padding: 1rem 0rem;

}

.s3 .container #nutrition .row{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.nutr-info{
    border: 2px solid #F25E2E;
    color: white;
    background-color: #F25E2E;
    height: 8rem;
    width: 8rem;
    text-align: center;
    padding-top: 3rem; 
    margin: 0 2rem;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
}

.nutr-info:hover{
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
    transition: 1.2s;
}

#nutrition .nutri-circles{
    justify-content: center;
}

#nutrition .row .nutr-info p {
    line-height: 0.5rem;
}

.custom-checkbox{
    margin: 0.5rem;
}

.custom-control-input:checked~.custom-control-label::before, .custom-checkbox .custom-control-label::before { 
    border-radius: 1rem;
}

.custom-control-input:checked~.custom-control-label::before{
    background: #90a88e;
    border-color: #90a88e;
}

.custom-control-input:focus~.custom-control-label::before{
    box-shadow: 0 0 0 0.2rem rgba(131,153,130,.5);
}



.custom-control-label{
    padding-left: 0.5rem;
    text-align: left;
}

#nutrition{
    text-align: center;
}


.nutrition-section{
    padding-bottom: 2rem;
    justify-content: center;
}

.content-circle{
    border: 2px solid grey;
    box-shadow: 0px 4px 8px 0 regba(0,0,0,0.2);
    height: 10rem;
    width: 2rem;

}




/* Cooking Demo */
.cooking-demo {
    padding: 3rem;
    justify-content: center;
}

#demo{
    margin: 0;
    padding-bottom: 3rem;
}

.s3 .cooking-demo h2{
    padding: 2rem;
}

.s3 .cooking-demo .demo .row{
    
    height: 60vh;
}

#demo-vid{
    width: 90%;
}


/* Footer */

#main-footer {
    display: flex;
    padding: 1.1rem;
    background-color: white;
    justify-content: center;
    text-align: center;
}

#main-footer .row{
    width: 100%;
}

#main-footer .row p {
    font-style: 'Roboto' sans-serif;
    font-size: 0.7rem;   
    color: #565656;
    margin-bottom: 0rem;
}



