@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');

/* GENERAL */
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
    padding:0;
    margin:0;
}

h1, h2, h4{
    color: black;
    padding: 2rem;
    padding-left:0rem;
    font-family: "Pacifico", cursive;
}

h1{
    color: #F2A12C;
}

#ing-title{
    font-family: "Pacifico", cursive;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem, 0;
}

.text-dark {
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    padding-top: 0px;
}

.text-primary2 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:#F2A12C
}

.text-primary3 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:#2AA041
}


/* NAVBAR */
nav{
    z-index: 1000;
}

.navbar-toggler:hover{
    border-color:#2AA041;
}

.navbar-nav {
    text-align: right;
    color: #4a4a4a;
}

.navbar-nav .nav-link:hover {
    color: #2AA041;
}

.navbar{
    position: sticky;
    opacity: 1;
    background: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
}

.navbarcircle{
    margin-top: 50px;
    height: 120px;
    width: 120px;
    border: 1px solid white;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    
}

.nav-link{
    color: grey;
    background: white;
}



    



/* Main Recipe Page */
#mbbc {
    margin-top: 2rem;
    height: 25rem;
    width: 25rem;
    border-radius: 5px;
    opacity: 0.8;
}

.recipeinfo, .recinfo, .row{
    justify-content: center;
}

.rec-teaser{
    opacity: 0.75;
    margin-top: 2rem;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.recnum{
    font-size: 2rem;
    margin-bottom: 0;
    color: grey;
}

.recnuminfo .recnum {
    color: #565656;
}

.s3 .main{
    margin-top: 6.5rem;
}

.s3 .main .row .row .col-md-6 p{
    text-align: left;
    padding: 0 2rem;
    margin: 0 2rem;
}

.btn-nutri, .btn-demo{
    border-radius: 2rem;
    padding: 0.5rem 1.25rem;
    margin: 2rem 2rem;
    color: white;
}

.btn-demo{
    background: #F25E2E;
}

.btn-nutri{
    background: #90a88e;
}

.btn-demo:hover, .btn-nutri:hover {
    color: white;
}

.btn-demo:hover{
    background:#f03b00;
}

.btn-nutri:hover{
    background: #839982;
}

#time{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}


/* Ingredients and Directions */
.dir-list{
    list-style-type: none;
    border-left: 1px solid lightgray;
    margin-left: -2.5rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.dir-list li {
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

.row .ingredients, .row .directions{
    background-color: #F9F9F9;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.row .ingredients{
    border-right-style: none;
}

.direc-title{
    color: black;
    font-weight: bold;
}

.row .col-md-12 {
    text-align: center;
}

.row .col-md-12 .buttons {
    align-items: center;
    justify-content: center;
}

.ing-dir{
    margin-top: 3rem;
}

.ing-dir .row .col-md-12{
    text-align: left;
}

.fas, .far{
    color:grey;
    font-size: 3rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.far .fa-clock{
    padding-right: 5rem;
}

#header-ing {
    color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

#servings, #servings-num{   
    font-size: 1.1rem;
}

#servings{
    color: #4a4a4a;
    padding-top: 0.25rem;
}

#servings-num{
    color: #f03b00;
}

.col-md-12, .ing-dir {
    padding: 2.5rem;
}




/* Nutritional Info */

.s3 .nutrition-section{
    margin-top: 5rem; 
}

.s3 .container #nutrition h2{
    padding-left: 2rem;
    margin:0;
    padding: 1rem 0rem;

}

.s3 .container #nutrition .row{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.nutr-info{
    border: 2px solid #F25E2E;
    color: white;
    background-color: #F25E2E;
    height: 8rem;
    width: 8rem;
    text-align: center;
    padding-top: 3rem; 
    margin: 0 2rem;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
}

.nutr-info:hover{
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
    transition: 1.2s;
}

#nutrition .nutri-circles{
    justify-content: center;
}

#nutrition .row .nutr-info p {
    line-height: 0.5rem;
}

.custom-checkbox{
    margin: 0.5rem;
}

.custom-control-input:checked~.custom-control-label::before, .custom-checkbox .custom-control-label::before { 
    border-radius: 1rem;
}

.custom-control-input:checked~.custom-control-label::before{
    background: #90a88e;
    border-color: #90a88e;
}

.custom-control-label{
    padding-left: 0.5rem;
}

#nutrition{
    text-align: center;
}


.container{
    margin-top: 100px;
    background: white;
    border-radius: 10px;
    z-index: 30;
}

.nutrition-section{
    margin-top: 0rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.content-circle{
    border: 2px solid grey;
    box-shadow: 0px 4px 8px 0 regba(0,0,0,0.2);
    height: 10rem;
    width: 2rem;

}




/* Cooking Demo */
.cooking-demo {
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: center;
}

#demo-vid{
    margin-top: -2.5rem;
    margin-bottom: 1rem;
    margin-right: -2rem;
}




/* Footer */
#main-footer {
    display: flex;
}

.fab {
    color: #565656;
    padding-left: 1.5rem;
    font-size: 1.6rem;
}

.fab:hover{
    color: #f03b00;
}

#main-footer .row {
    font-style: 'Roboto' sans-serif;
    font-size: 0.7rem;
    text-align: left;
    margin-top: 0;
    margin-left: 0px;
    color: #565656;
}

#main-footer .row .col-md-10, #main-footer .row .col-md-2 {
    padding: 1rem;
    padding-top: 1.5rem;
    margin-left: -3rem;
}

#main-footer .row .col-md-10 p{
    margin-bottom: 0;
}

.socialmedia{
    margin-right: -8rem;
} 

.s3{
    /* background: url(/img/aboutheader2.jpg) no-repeat center center/cover; */
    background: #1B2C36;
     /* #E0EDDF; */
    padding: 1rem;
}

#main-footer .row{
    padding-top: 0rem;
    padding-bottom: 0rem;
}


/* Responsive */
@media (min-width: 992px) {
    .navbar {
        height:50px;
        padding: 0;
        background-color: white;
        color: grey;
        opacity: 1;
        z-index: 10;
    }
}

@media only screen and (max-width: 766px) {
    .recinfo {
      border-style: none;
    }

    .dir-list{
        border-style: none;
    }
    
    .directions h4 {
        border-top: 1px solid lightgrey;
        
    }

    .ingredients{
        padding-bottom: 2rem;
    }

    #servings{
        padding-top: 2rem;
    }

    #main-footer .col-md-12{
        padding-top: 0;
    }

    #time{
        border-style: none;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #main-footer .row {
        padding-top: 1rem;
        padding-bottom: 0rem;
        justify-content: center;
    }

    #main-footer .row .socialmedia{
        padding-top: 0rem;
        padding-left: 4rem;
    }

    #main-footer .row .col-md-10{
        padding-left: 5rem;
    }
  }

@media only screen and (max-width: 1000px){
   
    .navbar .nav-elem img {
        margin-top: 1rem;
   }

   .navbar .nav-elem{
       width: 100%;
   }

   .navbar .nav-elem .navbar-toggler{
       margin-right: 0;
       margin-left: 1rem;
       margin-top:0%;
   }
  }

 
