@media only screen and (max-width: 1000px){
    h1{
       font-size: 2.5rem;
    }

    .s3 .nutrition-section{
      padding: 1.5rem;
   }

   .navbarcircle{
      margin: 0rem; 
      margin-bottom: -6.5rem;
   }

   #nav-2{
      width: 100%;
      z-index: 100000000;
      margin: 0rem !important;
      justify-content: flex-end;
   }

   #nav-2 .navbar-toggler{
      justify-content: flex-end;
      margin-top: 0rem;
      margin-bottom: 0.75rem;
   }
  
   #nav-2 a{
      width: 100%;
      margin: 0rem !important;
      padding-left: 1rem !important;
   }

   #nav-1{
      order: 1;
   }
   #nav-2{
      order: 0;
   } 

}

@media(max-width: 900px){
  body{
     font-size: .8rem;
  }
   #timeline  {
       justify-content: flex-start;
       margin-left: 20rem;
   }

  
   #timeline ul li:nth-child(even) div{
       left: 3rem;
   }

   #timeline ul li:nth-child(even) div:before{
       left: -15px;
       border-width: 8px 16px 8px 0;
       border-color: transparent var(--secondary-color) transparent transparent;
      
      }

      #timeline ul li div h3{
         font-size: 1.2rem;
      }
}


@media(max-width: 768px){

   #timeline  {
       justify-content: flex-start;
       margin-left: 0rem;
   }
}

@media only screen and (max-width: 766px) {
   .recinfo {
     border-style: none;
   }

   .dir-list{
       border-style: none;
   }
   
   .directions h4 {
       border-top: 1px solid lightgrey;
       
   }

   .ingredients{
       padding-bottom: 2rem;
   }

   #servings{
       padding-top: 2rem;
   }

   #main-footer .col-md-12{
       padding-top: 0;
   }

   #time{
       border-style: none;
       border-top: 1px solid lightgray;
       border-bottom: 1px solid lightgray;
       padding-top: 1rem;
       padding-bottom: 1rem;
       margin-top: 1rem;
       margin-bottom: 1rem;
   }

   #main-footer .row {
       padding-top: 1rem;
       padding-bottom: 0rem;
       justify-content: center;
   }

   #main-footer .row .socialmedia{
       padding-top: 0rem;
       padding-left: 4rem;
   }

   #main-footer .row .col-md-10{
       padding-left: 5rem;
   }
 }


@media only screen and (max-width: 500px){
     
   .s3{
      padding: 4rem 1rem;
      background: #1B2C36;
  }
  
  .container{
      background: white;
      border-radius: 10px;
      z-index: 30;
  }

  .s3 .main{
     padding: 0.5rem;
  }

  .s3 .main .row .row .col-lg-6 p{
     text-align: center;
     justify-content: center;
  }
  
  .s3 .main .col-md-12{
     margin-top: 0rem;
  }

  .recipeinfo{
     padding: 2rem;
  }

  .s3 .btn{
     margin: 1rem;
  }

  .s3 .buttons{
     padding: 1rem 0rem;
  }

  .dir-list{
     padding-left: 0rem;
  }

   .dir-list li {
      padding-bottom: 1.5rem;
   }

   .s3 .cooking-demo{
      padding: 1rem 0rem;
   }

   .s3 .cooking-demo .row{
      padding: 0.3rem;
   }


   .s3 .cooking-demo h2{
      text-align: center;
      justify-content: center;
      padding: 2rem 0rem;
   }

   #timeline  {
      justify-content: flex-start;
      margin-left: -2rem;
  }


   #timeline ul li div {
      width: calc(100vw - 9rem) !important;
  }

  #timeline ul li:nth-child(odd) div, #timeline ul li:nth-child(even) div {
   left: 2rem;
}

}