@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
      font-family: 'Montserrat', sans-serif;
      width: 100%;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem, 0;
}

#mainhead .container{
   margin: 0;
   padding: 0;
   width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}


/* NAVBAR */
nav{
    z-index: 1000;
}

.navbar-toggler:hover{
    border-color:#2AA041;
}

.navbar{
    position: sticky;
    opacity: 1;
    background: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
}

.navbarcircle{
    margin-bottom: -5rem;
    height: 120px;
    width: 120px;
    border: 1px solid white;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2); 
}

#nav-2 .mx-auto{
    padding: 0rem 1rem;
}




/* Mainhead  */

#mainhead{
    background: url('../img/revamp_header.jpg') no-repeat center center/cover;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
    overflow: hidden;
    background-attachment: fixed;
}

#mainhead .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* Overlay */
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
}

#mainhead .main-content .row{
    justify-content: center;
} 

#mainhead h2, #mainhead p{
    color: white;
    font-family: 'Prompt' sans-serif;
}

#mainhead .main-text{
    font-family: 'Pacifico', cursive;
    font-size: 7rem;
}

#mainhead  .display-4{
    color:#F2A12C
}

#mainhead  .display-5{
    color:#2AA041;
}

#mainhead p{
    color: white;
    padding-top: 2.5rem;
}

.buttons{
    padding: 2rem;
}

.btn{   
    background-color: #F25E2E;
    border-color: #F25E2E;
    color: white;
}

.btn:hover{
    background-color: #f03b00;
    border-color: #f03b00;
    color: white;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(240,59,0,.5);
}

#mainhead .main-content h2, .display-4, .display-5, .buttons, #mainhead .main-content .row p{
    opacity: 0;
}



/* About US */

#about{
    background: url('../img/aboutheader2.jpg') no-repeat center center/cover;
    padding: 4rem 1rem;
}

#about .about-content h2{
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    color: #F2A12C;
    justify-content: flex-end;
}

#teaser {
    margin-bottom: 1rem;
    padding: 0;
    float: left;
    box-shadow: -8px 8px 15px rgb(218, 218, 218);
}

.about-desc{
    margin-top: 3rem;
    text-align: center;
    justify-content: flex-end;
}

.about-desc p{
    margin:0;
    text-align: justify;
    padding-left: 5rem;
}


/* Recipes */

#recipe{
    padding: 4rem 1rem;
    background: url('../img/recipeheader3.png') no-repeat center center/cover;
    overflow: hidden;
}

#recipe .container{
    background-size: 100%;
}

#recipe .container h2 {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    color: #2AA041;
    justify-content: flex-start;
    text-align: center;
}

#recipe .container .recipes{
    margin: 3rem 0rem;
}


#recipe .container .flip-card{
    margin: 0.5rem 0;
    margin-left: 10rem;
    padding: 0.5rem 0;
}

.flip-card {
    background-color: white;
    width: 24rem;
    height: 16rem;
    perspective: 1000px;
    justify-content: center;
    margin: 0;
    padding: 1rem;
  }
  
  .flip-card-inner {
    position: relative;
    width: 24rem;
    height: 16rem;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
  }
 
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .flip-card-back {
    background-color:#1B2C36;
    color: white;
    transform: rotateX(180deg);
    border-radius: 5px;
    transition: all 2s ease-in-out;
  }

  #recipe  a{
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-family: 'Pacifico', cursive;
  }

  #recipe p{
      font-family: 'Montserrat', sans-serif;
      padding-top: 1rem;
      font-size: 1.5rem;
      color: #1B2C36;
  }

  #recipe a:hover{
       color: #f03b00; 
  }



/* SPONSORS */
#sponsors{
    padding: 4rem;  
    background: #1B2C36;
    overflow: hidden;
    width: 100%;
}

#sponsors .container .med-heading{
    justify-content: center;
}

#sponsors .container .med-heading{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
}

#sponsors .items{
    display: flex;
    align-items: center;
}

#sponsors .items img{
    display: block;
    width: 90%;
    padding: 2rem;
}

#sponsors .items #lg1 {
    width: 120%;
}

#sponsors .items #lg4 {
    width: 130%;
    padding-right: 5rem;
}


/* Contact */ 
 #contactpage {
    background: url('../img/contactheader.jpg') no-repeat center center/cover; 
    overflow: hidden;
}

#contactpage .contacts{
    background: rgb(255,255,255,0.7);
}

#contactpage .contacts .container h2{
    font-family: 'Pacifico', cursive;
    color: #F2A12C;
    font-size: 4rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgb(255,255,255,0.7);
}

#contactpage .contacts .container {
    padding: 5rem 0rem;  
}

#contactpage .contacts .container .content{
    margin: 5rem 0rem;
}

#contactpage .contacts .container .row .col-md-6 iframe{
     margin: 0;
     width: 95%;
     height: 100%;
 }

#contactpage .contacts .container .row .col-md-6{
    padding-left: 4rem;
}

.fas, .fab { 
    color: #565656;
    font-size: 1.5rem;
}

.map{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
 
.map:hover{
    box-shadow: 0 8px 16px 0 rgb(0,0,0,0.2);
}

#phone, #email, #address, #twitter, #instagram {
    margin-top: 1.25rem;  
    font-size: 1.25rem;
} 

#email a, #instagram a, #twitter a{
    text-decoration: none;
    color: #212529;
}

/* Footer */
#main-footer {
    display: flex;
    padding: 1.1rem;
    background-color: #1B2C36;
    justify-content: center;
    text-align: center;
}

#main-footer .row{
    width: 100%;
}

#main-footer .row p {
    font-style: 'Roboto' sans-serif;
    font-size: 0.7rem;
    color: white;
    margin-bottom: 0rem;
}
