@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Prompt:500&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: europa-boldregular, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem, 0;
}


/* Utility Classes */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.container .item p {
    float: right;
    text-align: right;
}




.text-primary, h2 {
    color: black;
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
    padding-top: 0px;
    
}

.text-primary2 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color:#F2A12C
}
.text-primary3 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color:#2AA041
}

h2 {
    text-align: center;
    padding: 1.5rem 0;
}

.l-heading {
    font-size: 3rem;
    font-family: 'Prompt', sans-serif;
    margin-top: -10rem;
    margin-left: 7rem;
    /* margin-bottom: 0.75rem; */
    line-height: 1.1;
}

.med-heading {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    color: black;
}



.lead{
    float: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-bottom: 2rem;
    width: 400px;
    /* margin-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem; */

}

.btn{
    display: inline-block;
    color: white;
    background: #2AA041;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    width: 150px; 
    text-align: center;
    margin-left: 13rem;
    margin-top: 3rem;
}

.btn:hover{
    background: #61AE5A;
}

.bg-primary {
    background-color: white;
    margin: 4rem;
}

.bg-primary p {
    padding: 3rem;
}





/* NAVBAR */
#navbar {
    display: flex;
    position: sitcky;
    top: 0;
    background: #FAFAFA;
    color: white;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: black;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    color: #2AA041;
    border-radius: 2px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }





/* Main Heading Area */
#mainhead{
    background: #333 url('../img/mainheader.jpg') no-repeat center center/cover;
    height: 100vh;
    color: black;
}

#mainhead .mainhead-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: left;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.3);
}

#logo {
    width: 20%;
    margin-left: 12rem;
}










/* About US */

#teaser {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    float: left;
    box-shadow: -8px 8px 15px rgb(218, 218, 218);
}

.item{
    margin-left: 38rem;
    margin-top: 8rem;
}

#about{
    padding-bottom: 8rem;
}







/* SPONSORS */
#sponsors{
    background-color: rgb(213,231,205,1); 
    box-shadow: -0px -8px 5px 5px rgb(213, 231, 205);
    padding: 4rem;    
}

#sponsors .med-heading{
    margin-top: -30px;
    color: #333333;
}


#sponsors .items{
    display: flex;
}


#sponsors .items img{
    display: block;
    margin: auto;
    width: 80%;
    padding: 5px;
}

#sponsors .items img .lg3 {
    width: 10%;
}









/* Contact */ 
#contact {
    display: flex;
   
}

#contact .map, #contact .bg-primary{
    flex: 1;
}

#contact .bg-primary p {
    padding-left: 7rem;
    padding-right: 7rem;
    font-family: 'Roboto' sans-serif;
}

#contact .bg-primary .med-heading {
    margin-top: 2rem;
    font-family: 'Roboto' sans-serif;
}

.fas { 
    /* margin-left: 9rem; */
    color: #565656;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#contact .bg-primary .contactinfo{
    /* margin:- 1rem; */
    /* padding: 5rem;
    line-height: 3.5; */
    font-size: 1.2rem;  
}



.card{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 4rem;
    margin-left: 7rem; 
    border-radius: 5px;
}

.card:hover{
    box-shadow: 0 15px 15px 0 rgb(0,0,0,0.2);
}

.map{
    border-radius: 5px;
}

ul{
    list-style: none; 
}





/* Footer */
#main-footer {
    display: flex;
    padding: 1.1rem 1.1rem;
}

.socialmedia{
    margin-right: 2rem; 
}

.fab {
    color: #565656;
    padding-left: 1.5rem;
    font-size: 1.6rem;
}

.fab:hover{
    color: black;
}

#main-footer .container {
    font-style: 'Roboto' sans-serif;
    font-size: 0.7rem;
    text-align: left;
    margin-left: 0px;
    color: #565656;
}